.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 12;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: var(--padding);
  color: var(--color-accent);
  opacity: 0;
  animation: fadeIn 0.5s 0.1s ease-out forwards;
}

.header-left {
  display: flex;
  align-items: start;
  gap: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}

.header-logo {
  position: relative;
  z-index: 11;
  color: var(--color-accent);
  text-decoration: none;
  font-size: 2em;
}

.header-email {
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding-left: 1em;
}

.header-email button {
  opacity: 0;
  transition: opacity 0.3s var(--default-ease);
  position: relative;
  background: none;
  border: none;
  padding: 0;
  cursor: default;
  font-size: inherit;
  color: inherit;
}

.header-email:focus button,
.header-email:hover button {
  opacity: 1;
}

.header-email svg {
  fill: currentColor;
  width: 1em;
  height: 1em;
}

a {
  text-decoration-color: var(--color-accent);
}

.header-trigger {
  position: absolute;
  top: var(--padding);
  right: var(--padding);
  z-index: 11;
  display: none;
  background: none;
  border: none;
  padding: 0;
  fill: var(--color-accent, hotpink);
  transition: fill 0.3s var(--default-ease);
}

.header-list {
  color: var(--color-accent);
  list-style-type: '';
  display: flex;
  align-items: start;
  gap: 1rem;
  flex-wrap: wrap;
}

.header-list a {
  color: var(--not-active-color);
}

.header-item {
  transition: color 0.3s var(--default-ease);
  font-weight: 600;
  font-size: max(1.125rem, 1.4vw);
  text-transform: uppercase;
}

.header li a:hover,
.header li a:focus {
  color: var(--color-accent);
  text-decoration-color: var(--color-accent);
}

.header-link {
  text-decoration-color: rgba(0, 0, 0, 0);
  transition: color 0.3s var(--default-ease),
    text-decoration-color 0.3s var(--default-ease);
}

.header li {
  transition: color 0.3s var(--default-ease);
}

.header .mobile-only {
  display: none;
}

.large-body {
  font-size: max(1.125rem, 1.4vw);
  line-height: 1;
}

@media screen and (max-width: 1024px) {
  .header-email {
    display: none;
  }
  .header-trigger,
  .header .mobile-only {
    display: block;
  }

  .header .mobile-only hr {
    width: 100%;
    border: none;
    border-top: 1px solid var(--background);
  }

  .header-list {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    flex-wrap: wrap;
    gap: 0 1rem;
    justify-content: space-between;
    height: 100lvh;
    transform: translateX(-100%);
    clip-path: inset(0 0 100%);
    transition: clip-path 0.3s var(--default-ease),
      transform 0s 0.3s var(--default-ease);
    background: var(--color-accent, hotpink);
    color: var(--background);
    padding: 8rem var(--padding);
    --not-active-color: color-mix(in srgb, var(--background), transparent 30%);
  }

  .header-item {
    font-size: 4rem;
    width: 100%;
  }

  .header li.is-active a {
    color: var(--background);
    text-decoration: underline;
    text-decoration-color: var(--background);
  }

  .header-list li ul {
    list-style-type: '';
    padding: 0;
  }

  .header-list li ul li {
    font-size: 0.75rem;
  }

  .header-list li ul a {
    font-size: 1.125rem;
  }

  .header-list li:has(hr) {
    width: 100%;
  }

  .header-list hr {
    width: 100%;
    border: none;
    border-top: 1px solid var(--background);
  }

  .medium-body {
    font-size: max(1rem, 1.11vw);
    line-height: 1.25;
  }

  .header.is-open .header-logo,
  .header.is-open .header-trigger {
    color: var(--background);
    transition: color 0.5s var(--default-ease);
  }

  .header.is-open .header-list {
    transform: translateX(0);
    clip-path: inset(0 0 0);
    transition: clip-path 0.5s 0s var(--default-ease),
      transform 0s 0s var(--default-ease);
  }
}
