.projects-inner {
  margin-top: 11vw;
}

.projects-inner .variant {
  display: contents;
}

.framer {
  opacity: 1;
  height: auto;
  position: sticky;
  top: 100px;
  z-index: 1;
  transition: transform 0.5s ease-in-out;
}

.framer.scaled {
  transform: scale(0.95);
}

.framer-static {
  width: 100%;
  border-radius: 24px;
  opacity: 1;
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 32px;
  height: 580px;
  justify-content: flex-start;
  overflow: hidden;
  padding: 64px 0 64px 64px;
  position: relative;
}

.work-one .framer-static {
  background-color: rgb(244, 242, 239);
}

.work-two .framer-static {
  background-color: rgb(229, 219, 235);
}

.work-three .framer-static {
  background-color: rgb(220, 228, 234);
}

.work-four .framer-static {
  background-color: rgb(210, 232, 200);
}

.framer-about {
  opacity: 1;
  align-items: flex-start;
  display: flex;
  flex: 1 0 0px;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 60px;
  height: 100%;
  justify-content: flex-start;
  overflow: visible;
  padding: 0;
  position: relative;
  width: 1px;
}

.framer-text {
  opacity: 1;
  align-items: flex-start;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 32px;
  height: min-content;
  justify-content: flex-start;
  overflow: visible;
  padding: 0;
  position: relative;
  width: 100%;
}

.framer-about a {
  opacity: 1;
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  height: min-content;
  justify-content: center;
  overflow: visible;
  padding: 0;
  position: relative;
  text-decoration: none;
  width: min-content;
}

.project-link-container {
  opacity: 1;
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  height: min-content;
  width: min-content;
  justify-content: flex-start;
  overflow: visible;
  padding: 0;
  position: relative;
}

.project-link-container p {
  position: relative;
  flex: none;
  height: auto;
  width: auto;
  white-space: pre;
  font-weight: 700;
  color: rgba(17, 16, 17, 0.8);
}

.project-link-container svg {
  flex: none;
  height: 24px;
  width: 24px;
  position: relative;
}

.head-text {
  align-items: flex-start;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 24px;
  height: min-content;
  justify-content: flex-start;
  overflow: visible;
  padding: 0;
  position: relative;
  width: 100%;
}

.head-text h3 {
  font-size: 36px;
  color: #111011;
}

.head-text p {
  position: relative;
  font-size: 18px;
  color: rgba(17, 16, 17, 0.6);
  font-family: 'Lora';
}

.framer-text .features {
  align-items: flex-start;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 10px;
  height: min-content;
  width: min-content;
  justify-content: flex-start;
  overflow: visible;
  padding: 0;
  position: relative;
  width: 100%;
}

.features .container {
  position: relative;
  flex: none;
  height: auto;
  width: auto;
}

.features .container-inner {
  background-color: rgb(255, 255, 255);
  border-radius: 36px;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 5px;
  height: min-content;
  width: min-content;
  justify-content: flex-start;
  overflow: hidden;
  padding: 10px 16px 10px 12px;
  position: relative;
}

.features .container-inner svg {
  flex: none;
  position: relative;
  height: 24px;
  width: 24px;
}

.features .container-inner p {
  position: relative;
  white-space: pre;
  width: auto;
  font-size: 18px;
  color: rgb(17, 16, 17);
  line-height: 150%;
  font-family: 'Lora';
}

.framer-image {
  align-items: flex-end;
  display: flex;
  flex: 1 0 0px;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 30px;
  height: 100%;
  justify-content: flex-start;
  padding: 0;
  position: relative;
  width: 1px;
}

.framer-image-inner {
  border-bottom-left-radius: 16px;
  border-top-left-radius: 16px;
  flex: 1 0 0px;
  height: 1px;
  position: relative;
  width: 100%;
}

.framer-image .image-wrapper {
  position: absolute;
  border-radius: inherit;
  inset: 0px;
}

.framer-image img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  object-position: center center;
  object-fit: cover;
}

@media screen and (max-width: 840px) {
  .features .container-inner p {
    font-size: 14px;
  }
}

@media screen and (min-width: 401px) and (max-width: 700px) {
  .framer-static {
    padding: 32px 0 32px 24px;
  }
}

@media screen and (max-width: 400px) {
  .framer-image {
    display: none;
  }

  .framer-static {
    padding: 32px 24px 0;
  }

  .projects .scroll-heading {
    position: relative;
  }
}
